<template>
  <div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
        <label class="control-label">Bản đồ</label>
        <br />
        Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị
        trí tin rao của bạn trên bản đồ bằng cách Chọn lại vị trí bản đồ
            <div style="float: left;" class="col-md-8">
              <l-map
                :zoom="zoom"
                :center="center"
                :options="mapOptions"
                style="min-height: 300px; height: 400px"
                @update:zoom="zoomUpdate"
                @click="handleMapClick"
              >
                <l-tile-layer :url="url" :attribution="attribution" />

                <l-marker :draggable="true" :lat-lng.sync="selectedPoint"> </l-marker>
              </l-map>
            </div>
            <div style="float: left;" class="col-md-4">
              <div class="text-success">
                <div
                  class=""
                  v-if="selectedPoint.lng !== 0 && selectedPoint.lat !== 0"
                >
                  <b
                    >Kinh độ: {{ selectedPoint.lng }},
                    <br />
                    Vĩ độ: {{ selectedPoint.lat }}
                  </b>
                </div>
                <div class="text-warning" v-else>
                  Bạn chưa chọn vị trí trên bản đồ
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- /input-group -->
  </div>
</template>
<script>
import { latLng } from "leaflet";
import { LMap, LMarker, LTileLayer } from "vue2-leaflet";
import { mapActions } from "vuex";
import "leaflet/dist/leaflet.css";

export default {
  name: "add",
  data() {
    return {
      zoom: 15,
      center: latLng(10.9848073, 106.6662464),
      url: "https://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      mapOptions: {
        zoomSnap: 0.5
      },
      selectedPoint: latLng(0, 0),

      isUpdated: false,

      form: {
        zoom: 15,
        longitude: 0,
        latitude: 0
      }
    };
  },
  components: {
    LMap,
    LTileLayer,
    LMarker
  },
  computed: {},
  methods: {
    ...mapActions("post_add", {
      setMapInfo: "setMapInfo"
    }),

    zoomUpdate(zoom) {
      this.form.zoom = zoom;
      this.setMapInfo(this.form);
    },
    handleMapClick(event) {
      this.selectedPoint = event.latlng;
    }
  },

  watch: {
    selectedPoint: function() {
      this.isUpdated = true;
      this.form.longitude = this.selectedPoint.lng;
      this.form.latitude = this.selectedPoint.lat;

      this.setMapInfo(this.form);
    }
  }
};
</script>
