<template>
  <div style="clear: both">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <div style="float: left;" class="col-md-7">
            <label class="control-label">Bảng giá đăng tin</label>
            <table class="table">
              <caption>List of users</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Loại tin</th>
                  <th scope="col">10 ngày</th>
                  <th scope="col">1 tháng</th>
                  <th scope="col">3 tháng</th>
                  <th scope="col">6 tháng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tin thường</td>
                  <td>20.000 (VNĐ)</td>
                  <td>55.000 (VNĐ)</td>
                  <td>155.000 (VNĐ)</td>
                  <td>290.000 (VNĐ)</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Tin HOT</td>
                  <td>30.000 (VNĐ)</td>
                  <td>85.000 (VNĐ)</td>
                  <td>245.000 (VNĐ)</td>
                  <td>470.000 (VNĐ)</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="float: left;" class="col-md-5 mt-2">
                <p>Xin quý khách vui lòng chuyển tiền phù hợp dựa theo bảng trên thông qua số tài khoản: 65010002902076 – Young Generation – Chi nhánh BIDV Tp.TDM</p>
                <p>Chúng tôi sẽ kiểm tra bài đăng của bạn và sẽ liên hệ với bạn nếu có sai sót hay bổ sung thông tin.</p>
                <p>Xin cảm ơn bạn đã ủng hộ chúng tôi. Chúc bạn có một ngày tốt lành!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /input-group -->
  </div>
</template>
<script>
export default {
  name: "add",
  data() {
    return {};
  }
};
</script>
