<template>
  <div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <div style="float: left;" class="col-md-2">
            <label class="control-label">Hướng nhà</label>
            <select
              v-model="form.main_direction"
              class="form-control select2"
              style="width: 100%;"
            >
              <option
                v-for="item in homeDirectionOptions"
                :key="item.value"
                :value="item.value"
              >
                {{ item.text }}
              </option>
            </select>
          </div>

          <div style="float: left;" class="col-md-2">
            <label class="control-label">Số phòng ngủ</label>
            <input
              class="form-control"
              v-model="form.nbr_bed_room"
              placeholder="Loại nội dung..."
              type="text"
            />
          </div>

          <div style="float: left;" class="col-md-2">
            <label class="control-label">Số Toilet</label>
            <input
              class="form-control"
              v-model="form.nbr_rest_room"
              placeholder="Loại nội dung..."
              type="text"
            />
          </div>

          <div style="float: left;" class="col-md-2">
            <label class="control-label">Số tầng</label>
            <input
              class="form-control"
              v-model="form.nbr_floor"
              placeholder="Loại nội dung..."
              type="text"
            />
          </div>
          <div style="float: left;" class="col-md-2">
            <label class="control-label">Mặt tiền</label>
            <input
              class="form-control"
              v-model="form.front_street_width"
              placeholder="Loại nội dung..."
              type="text"
            />
          </div>
          <div style="float: left;" class="col-md-2">
            <label class="control-label">Đường vào</label>
            <input
              class="form-control"
              v-model="form.behind_street_width"
              placeholder="Loại nội dung..."
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /input-group -->
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  name: "add",
  data() {
    return {
      form: {
        main_direction: 0,
        nbr_bed_room: 0,
        nbr_rest_room: 0,
        nbr_floor: 0,

        front_street_width: 0,
        behind_street_width: 0
      },
      homeDirectionOptions: [
        { text: "Không xác định", value: 0 },
        { text: "Chánh Đông", value: 1 },
        { text: "Chánh Tây", value: 2 },
        { text: "Chánh Nam", value: 3 },
        { text: "Chánh Bắc", value: 4 },
        { text: "Đông-Bắc", value: 5 },
        { text: "Tây-Bắc", value: 6 },
        { text: "Tây-Nam", value: 7 },
        { text: "Đông-Nam", value: 8 }
      ]
    };
  },
  computed: {},
  methods: {
    ...mapActions("post_add", {
      setOtherInfo: "setOtherInfo"
    }),
    updateData() {
      this.setOtherInfo(this.form);
    }
  },
  watch: {
    "form.main_direction": function() {
      this.updateData();
    },
    "form.nbr_bed_room": function() {
      this.updateData();
    },
    "form.nbr_rest_room": function() {
      this.updateData();
    },
    "form.nbr_floor": function() {
      this.updateData();
    },
    "form.front_street_width": function() {
      this.updateData();
    },
    "form.behind_street_width": function() {
      this.updateData();
    }
  }
};
</script>
