<template>
  <div style="clear: both">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <div style="float: left;" class="col-md-4">
        <label class="control-label">Loại tin rao</label>
        <select
          v-model="form.post_type"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in postTypeOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>

          <div style="float: left;" class="col-md-4">
        <label class="control-label">Ngày bắt đầu</label>
        <input class="form-control" v-model="form.start_date" type="date" />
      </div>

          <div style="float: left;" class="col-md-4">
        <label class="control-label">Ngày kết thúc</label>
        <input class="form-control" v-model="form.end_date" type="date" />
      </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <!--      Đơn giá cuối cùng: <span class="text-primary text-md"><b>{{ pricing.per_day | moneyString }}<span v-if="form.post_type !== 4">/Ngày</span></b></span>-->
    </div>
    <div class="col-sm-6">
      Số ngày:
      <span class="text-primary text-md"
        ><b>{{ scheduleInfo.numberOfDay }} ngày</b></span
      >
    </div>
    <!-- /input-group -->
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import { getMoneyText } from "../../../util/pricing";

export default {
  name: "add",
  data() {
    return {
      postTypeOptions: [
        { text: "Tin thường", value: 2 },
        { text: "Tin đặc biệt", value: 1 }
      ],
      scheduleDateMin: new Date(new Date().getTime() + 86400000)
        .toISOString()
        .slice(0, 10),
      scheduleDateMax: new Date(new Date().getTime() + 90 * 86400000)
        .toISOString()
        .slice(0, 10),

      form: {
        post_type: 2,
        start_date: "",
        end_date: "",
        numberOfDay: 14
      }
    };
  },
  created() {
    this.form.post_type = 2;
    this.form.start_date = new Date(new Date().getTime() + 86400000)
      .toISOString()
      .slice(0, 10);
    this.form.end_date = new Date(new Date().getTime() + 15 * 86400000)
      .toISOString()
      .slice(0, 10);

    this.recalDay();
  },
  computed: {
    ...mapGetters("post_add", {
      pricing: "pricing",
      scheduleInfo: "scheduleInfo"
    })
  },
  methods: {
    ...mapActions("post_add", {
      setPostType: "setPostType",
      setSchedule: "setSchedule"
    }),

    recalDay() {
      this.setSchedule({
        start: this.form.start_date,
        end: this.form.end_date
      });
      // this.form.numberOfDay = this.form.end_date - this.form.start_date
    }
  },
  filters: {
    moneyString: function(value) {
      return getMoneyText(value);
    }
  },
  watch: {
    "form.start_date": function() {
      this.recalDay();
    },
    "form.end_date": function() {
      this.recalDay();
    },
    "form.post_type": function(newVal) {
      this.setPostType(newVal);
    }
  }
};
</script>
