<template>
  <div>
    <section class="content">
<!--      <div class="row">-->
          <div class="col-md-12">
            <div>
              
              <h3>Thông tin cơ bản</h3>
            </div>
            <div>
              <form01-basic-info />
              <form02-description />
              <form03-other-info />
              <form04-picture-and-video />
              <form05-map />
              <form06-contact />
              <form07-schedule />
              <form09-checkout />
            </div>
            <!-- /.box-body -->
              <div class="col-sm-12">
                <button class="btn btn-danger" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-success"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-success" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
                 <a class="btn btn-info" href="/">Trở về trang chủ Young Generation</a>
              </div>
             
            </div>
<!--      </div>-->
    </section>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert";

import Form01BasicInfo from "./Form01BasicInfo";
import Form02Description from "./Form02Description";
import Form03OtherInfo from "./Form03OtherInfo";
import Form04PictureAndVideo from "./Form04PictureAndVideo";
import Form05Map from "./Form05Map";
import Form06Contact from "./Form06Contact";
import Form07Schedule from "./Form07Schedule";
import Form09Checkout from "./Form09Checkout";

export default {
  name: "add",
  components: {
    Form01BasicInfo: Form01BasicInfo,
    Form02Description: Form02Description,
    Form03OtherInfo: Form03OtherInfo,
    Form04PictureAndVideo: Form04PictureAndVideo,
    Form05Map: Form05Map,
    Form06Contact: Form06Contact,
    Form07Schedule: Form07Schedule,
    Form09Checkout: Form09Checkout
  },
  data() {
    return {};
  },
  mounted() {
    this.loadProvinceData();
  },
  computed: {
    ...mapGetters("post_add", {
      isLoading: "isLoading",
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("post_add", {
      doSubmit: "submit",
      reset: "reset"
    }),
    ...mapActions("post_ac", {
      loadProvinceData: "loadProvinceData"
    }),
    submit() {
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          // this.$router.push("/");
        })
        .catch(err => {
          swal({
            title: "Đăng tin không thành công",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
