<template>
    <div class="container">
        <h3>Welcom to VUe in laravel</h3>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
