<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Giàu ACE Joker</div>
                </div>
            </div>
        </div>
    </div>
</template>
